@font-face {
  font-family: 'SF Pro Display';
  src: url("tipography/SFPRODISPLAYREGULAR.OTF") format ("opentype"),;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #F1FAFF;
  font-family: 'SF Pro Display';
  font-size: 16px;
}


.homepage {
  height: 100vh;
  background-image: url("images/bg-img-homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.header {
  margin-top: 20px;
}

.container-fluid > a > img {
  padding-right: 50px;
}

.nav-item {
  padding-right: 20px;
  font-size: 24px;
}

.nav-item > .nav-link {
  color: #F1FAFF;
}

.nav-item > .nav-link:hover {
  color: #8A3BBF;
  text-decoration: underline;
  transition: 0.3s;
}


.home-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
  width: 500px;
}

.home-box > .h5 {
  font-size: 32px;
}


.home-box > .h1 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 0px;
}

.home-box > .h1 > .wagSantos {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 58px;
  font-weight: 700;
  color: #8A3BBF;
}

.home-box-description{
  margin-top: 16px;
  font-size: 24px;
}

.buttons-box {
  margin-top: 16px;
}

.bt {
  margin-right: 20px;
}

.btn-homepage {
  background-color: #6E37A6;
  color: #F1FAFF;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-radius: 30px;
  text-decoration: none;
}

/* Skills */
.skills {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #0D0D0D, #1C1240);
  height: 50vh;
}

.skills-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}

.card-item > .h4 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
  text-decoration-color: #8A3BBF;
  transition: 0.3s;
}
.card-item > .h4:hover {
  text-decoration: underline;
  text-decoration-color: #8A3BBF;
  transition: 0.3s;
}

.about-me {
  background: linear-gradient(to bottom, #1C1240, #1C1240);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
}

.about-me > .about-me-container > .about-me-text > .h2 {
  font-family: "Quattrocentos Sans", sans-serif;
  text-align: center;
  padding-bottom: 20px;
}

.about-me-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.about-me-container > .about-me-text {
  width: 500px;
}

.projects {
  background: linear-gradient(to bottom, #1C1240, #3A1F66);
  height: 30vh;
}

.projects > .projects-text {
  padding-top: 50px;
  text-align: center;
}

.projects > .projects-text > .h3 {
  font-family: "Quattrocentos Sans", sans-serif;
  padding-bottom: 20px;
}

.grid-card-project {
  background: linear-gradient(to bottom, #3A1F66, #6E37A6);
  display: flex;
  align-items: center;
  justify-content: center;
}


.page-atendimento {
  background: var(--about-me-gradient);
}

.container-atendimentos {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.atendimentos {
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: 350px 350px;
  gap: 30px;
}

.card-atendimento {
  background-color: transparent;
  color: var(--strong-brown);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 9px 0px rgba(0, 0, 0, 0.342);
  border-radius: 30px;
}

.card-atendimento > img {
  width: 450px;

  border-radius: 30px;
}

.page-atendimento > .container-btn {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.page-atendimento > .container-btn > a {
  text-decoration: none;
  text-align: center;
  padding: 8px;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
  width: 218px;
  border: 2px solid var(--strong-brown);
  border-radius: 30px;
  font-weight: 500;
  color: var(--strong-brown);
  background-color: transparent;
} .page-atendimento > .container-btn > a:hover {
  border: 2px solid var(--skin-color);
  border-radius: 30px;
  color: var(--skin-color);
  background-color: var(--strong-brown);
  font-weight: 500;
}
