@font-face {
  font-family: 'SF Pro Display';
  src: url("tipography/SFPRODISPLAYREGULAR.OTF") format ("opentype"),;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #F1FAFF;
  font-family: 'SF Pro Display';
  font-size: 16px;
}


.homepage {
  height: 100vh;
  background-image: url("images/bg-img-homepage.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
}

.header {
  margin-top: 20px;
}

.container-fluid > a > img {
  padding-right: 50px;
}

.nav-item {
  padding-right: 20px;
  font-size: 24px;
}

.nav-item > .nav-link {
  color: #F1FAFF;
}

.nav-item > .nav-link:hover {
  color: #8A3BBF;
  text-decoration: underline;
  transition: 0.3s;
}


.home-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  
  width: 500px;
}

.home-box > .h5 {
  font-size: 32px;
}


.home-box > .h1 {
  font-family: "Quattrocento Sans", sans-serif;
  font-weight: 700;
  font-size: 54px;
  margin-bottom: 0px;
}

.home-box > .h1 > .wagSantos {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 58px;
  font-weight: 700;
  color: #8A3BBF;
}

.home-box-description{
  margin-top: 16px;
  font-size: 24px;
}

.buttons-box {
  margin-top: 16px;
}

.bt {
  margin-right: 20px;
}

.btn-homepage {
  background-color: #6E37A6;
  color: #F1FAFF;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  border-radius: 30px;
  text-decoration: none;
}

/* Skills */
.skills {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #0D0D0D, #1C1240);
  height: 50vh;
}

.skills-card-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 315px;
  text-align: center;
  justify-content: center;
  font-size: 16px;
}

.card-item > .h4 {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
}
.card-item > .h4:hover {
  text-decoration: underline;
  text-decoration-color: #8A3BBF;
  transition: 0.3s;
}

